# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
  - sudo apt-get install parallel
  - composer install --no-interaction --prefer-source --dev

before_script:
  - mkdir -p build/coverage

script:
  # Run tests
  - vendor/bin/phpunit -c tests/phpunit.xml.dist

  # Run coding standard checks in parallel
  - ls -d library/Magento/* tests/MagentoTest/* | parallel --gnu -P 0 'echo "Running {} CS checks"; php -d zend.enable_gc=0 ./vendor/bin/php-cs-fixer fix {} -v --dry-run --config-file=.php_cs;' || exit 1

notifications:
  email: false

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm