<phpunit bootstrap="../vendor/autoload.php"
         backupGlobals="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true"
         colors="false">
    <testsuites>
        <testsuite name="Magento Simplexml Test Suite">
            <directory>./MagentoTest</directory>
            <exclude>./MagentoTest/_files/</exclude>
            <exclude>./MagentoTest/AllTests/</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
        </exclude>
    </groups>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>



</phpunit>