<phpunit bootstrap="./bootstrap.php"
         backupGlobals="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         verbose="true"
         colors="false">
    <testsuites>
        <testsuite name="Magento Simplexml Test Suite">
            <directory>./Magento</directory>
            <exclude>./Magento/_files/</exclude>
            <exclude>./Magento/AllTests/</exclude>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>integration</group>
        </exclude>
    </groups>

    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>



</phpunit>